
 #vanishDIV {
     width: 100%;
     padding: 50px 0;
     text-align: center;
     background-color: lightblue;
     margin-top: 30px;
 }





 /* .container1 input[type=text] {
      padding:5px 0px;
      margin:5px 5px 5px 0px;
  }


 .add_form_field
 {
     background-color: #1c97f3;
     border: none;
     color: white;
     padding: 8px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     border:1px solid #186dad;

 }

 input{
    border: 1px solid #1c97f3;
    width: 260px;
    height: 40px;
    margin-bottom:14px;
}

.delete{
    background-color: #fd1200;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;

}


  .element1 input[type=text] {
      padding:5px 0px;
      margin:5px 5px 5px 0px;
  }

.add_form_field
{
    background-color: #FA8072;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border:1px solid #186dad;

}

input{
    border: 1px solid #1c97f3;
    width: 260px;
    height: 40px;
    margin-bottom:14px;
}

.delete{
    background-color: #fd1200;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;

}*/

 /*
    This file is part of "ChoiCo" a web application for designing digital games, written by Marianthi Grizioti for the National and Kapodistrian University of Athens (Educational Technology Lab).
    Copyright (C) 2017-2018.
    ChoiCo is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    ChoiCo is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
*/
 .data_table {
     margin:0px;padding:0px;
     float:left;
     width: 100%;  /*original 40*/
     height: 90%;
     border:1px solid #000000;
     -moz-border-radius-bottomleft:2px;
     -webkit-border-bottom-left-radius:2px;
     border-bottom-left-radius:2px;
     -moz-border-radius-bottomright:2px;
     -webkit-border-bottom-right-radius:2px;
     border-bottom-right-radius:2px;
     -moz-border-radius-topright:2px;
     -webkit-border-top-right-radius:2px;
     border-top-right-radius:2px;
     -moz-border-radius-topleft:2px;
     -webkit-border-top-left-radius:2px;
     border-top-left-radius:2px;
     max-height: 500px;

 }

 .data_bar {
     width: 99%;
     background-color: white;
     min-height:30px;
     padding: 2px;

 }

 .table-responsive {

 }


 table.datatable {
     border-collapse: collapse;
     width: 100%;
     float:left;
     height: 90%;
 }
 table.datatable tbody,
 table.datatable thead { display: block; }



 table.datatable tbody {


 }



 #tableContainer {
     width: 100%;
     overflow:hidden;

 }
 #headerContainer {
     width: 100%;
     position: relative;

 }#bodyContainer {
      width: 100%;
      overflow:auto;
  }


 .data_table th {
     background: rgba(213,37,224,1);
    /* background: -moz-linear-gradient(top, rgba(255,159,41,1) 0%, rgba(235,129,0,1) 100%);*/
  /*   background: -webkit-linear-gradient(top, rgba(255,159,41,1) 0%, rgba(235,129,0,1) 100%);
     background: -o-linear-gradient(top, rgba(255,159,41,1) 0%, rgba(235,129,0,1) 100%);
     background: -ms-linear-gradient(top, rgba(255,159,41,1) 0%, rgba(235,129,0,1) 100%);
     background: linear-gradient(to bottom, rgba(255,159,41,1) 0%, rgba(235,129,0,1) 100%);*/
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9f29', endColorstr='#eb8100', GradientType=0 );*/
     font-size:12px;
     font-family:Arial;
     font-weight:normal;
     color:#ffffff;
     text-align:center;
     font-style: bold;
     min-width:100px;
     width: 150px;
     padding: 5px;
     border: 1px solid;

 }
 .data_table th input {
     padding-right: 3px;
 }
 .data_table  td {
     min-width:100px;
     width: 150px;
     height:20px;
     font-size:10px;
     font-family:Arial;
     font-weight:normal;
     color:#000000;
     padding:5px;
     vertical-align:middle;
     border:1px solid white;
     border-width:0px 1px 1px 0px;

 }

 .data_table td:first-child{
     min-width:100px;
     width: 150px;
     height:20px;
     font-size:10px;
     font-family:Arial;
     font-weight:normal;
     color:#000000;
     padding:5px;
     vertical-align:middle;
     border:1px solid white;
     border-width:0px 1px 1px 0px;


 }
 .data_table th:first-child{
     width:150px;
     font-size:12px;
     color: white;
     font-weight:bold;
     border:1px solid #ffffff;

 }
 .data_table tr {
     background-color: #f2f2f2;
 }
 .tableField {
     border:none;
     background-color:rgba(256, 256, 256, 0.5);
     width: 100%;
     text-align: center;

 }

 .tableField:focus {
     border-color: #4488cc;
     border-style: solid;
     border-width: 1px;
     outline: 0;

 }

 .selectedField {
     background: rgba(0,0,255,1);

     border: 1px solid black;

 }
 #deleteIco {visibility:hidden;}
 #settingsIco {visibility:hidden;}

 .fieldSettings{

     background-color: rgba(137, 127, 127);
     border: 2px black solid;
     position: absolute;
     top: 20%;
     left: 60%;
     visibility: hidden;
     font-family: Verdana;
     font-size: 14px;
     width: 15%;
 }
 .fieldSettings select {


 }

 .bar {
     width: 100%;
     height: 15px;
     background:rgba(121, 184, 134, 0.61);

 }


 .selectedRow {
     background: rgba(0,0,255,1);

     border: 1px solid yellow;

 }


